<a href="https://colab.research.google.com/github/171473/Advanced-Software-System-Lab/blob/master/Assignment8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
import pandas as pd

uploaded = files.upload()
uploaded = files.upload()
uploaded = files.upload()
uploaded = files.upload()
uploaded = files.upload()
uploaded = files.upload()

pd.read_csv('Season.csv')

Saving Ball_by_Ball.csv to Ball_by_Ball.csv

Saving Match.csv to Match.csv

Saving Player.csv to Player.csv

Saving Player_Match.csv to Player_Match.csv

Saving Season.csv to Season.csv

Saving Team.csv to Team.csv

   Season_Id  Season_Year  Orange_Cap_Id  Purple_Cap_Id  Man_of_the_Series_Id
0          1         2008            100            102                    32
1          2         2009             18             61                    53
2          3         2010            133            131                   133
3          4         2011            162            194                   162
4          5         2012            162            190                   315
5          6         2013             19             71                    32
6          7         2014             46            364                   305
7          8         2015            187             71                   334
8          9         2016              8            299                     8

In [2]:
ipl_auction_df=pd.read_csv('Season.csv')
type(ipl_auction_df)

pandas.core.frame.DataFrame

Ans3.

In [3]:
pd.set_option('display.max_columns', 7)
ipl_auction_df.head(5)

   Season_Id  Season_Year  Orange_Cap_Id  Purple_Cap_Id  Man_of_the_Series_Id
0          1         2008            100            102                    32
1          2         2009             18             61                    53
2          3         2010            133            131                   133
3          4         2011            162            194                   162
4          5         2012            162            190                   315

Ans4

In [4]:
list(ipl_auction_df.columns)

['Season_Id',
 'Season_Year',
 'Orange_Cap_Id',
 'Purple_Cap_Id',
 'Man_of_the_Series_Id']

Ans5

In [5]:
ipl_auction_df.head(5).transpose()

                         0     1     2     3     4
Season_Id                1     2     3     4     5
Season_Year           2008  2009  2010  2011  2012
Orange_Cap_Id          100    18   133   162   162
Purple_Cap_Id          102    61   131   194   190
Man_of_the_Series_Id    32    53   133   162   315

Ans6.

In [6]:
ipl_auction_df.shape

(9, 5)

Ans7

In [7]:
ipl_auction_df[ 0: 5]

   Season_Id  Season_Year  Orange_Cap_Id  Purple_Cap_Id  Man_of_the_Series_Id
0          1         2008            100            102                    32
1          2         2009             18             61                    53
2          3         2010            133            131                   133
3          4         2011            162            194                   162
4          5         2012            162            190                   315

Ans8

In [8]:

ipl_auction_df[ : 5]

   Season_Id  Season_Year  Orange_Cap_Id  Purple_Cap_Id  Man_of_the_Series_Id
0          1         2008            100            102                    32
1          2         2009             18             61                    53
2          3         2010            133            131                   133
3          4         2011            162            194                   162
4          5         2012            162            190                   315

Ans9.

In [9]:
ipl_player_df=pd.read_csv('Player.csv') 
ipl_player_df[['Player_Name', 'Country']][0:5]

       Player_Name      Country
0       SC Ganguly        India
1      BB McCullum  New Zealand
2       RT Ponting    Australia
3        DJ Hussey    Australia
4  Mohammad Hafeez     Pakistan

Ans10

In [10]:
 asc= ipl_player_df.sort_index(axis=1)
print('Contents of Dataframe sorted based on Column Names are :')
print(asc)

Contents of Dataframe sorted based on Column Names are :
    Batting_Hand       Bowling_Skill      Country  ... Player_Id  \
0      Left_Hand    Right-arm medium        India  ...         1
1     Right_Hand    Right-arm medium  New Zealand  ...         2
2     Right_Hand    Right-arm medium    Australia  ...         3
3     Right_Hand  Right-arm offbreak    Australia  ...         4
4     Right_Hand  Right-arm offbreak     Pakistan  ...         5
..           ...                 ...          ...  ...       ...
518          NaN                 NaN        India  ...       519
519          NaN                 NaN        India  ...       520
520          NaN                 NaN        India  ...       521
521   Right_Hand                 NaN        India  ...       523
522   Right_Hand  Right-arm offbreak        India  ...       524

         Player_Name  Unnamed: 7
0         SC Ganguly         NaN
1        BB McCullum         NaN
2         RT Ponting         NaN
3          DJ Hussey         NaN
4    Mohammad Hafeez         NaN
..               ...         ...
518      Subroto Das         NaN
519     K Srinivasan         NaN
520        VK Sharma         NaN
521      AV Wankhade         NaN
522      B Aparajith         NaN

[523 rows x 8 columns]

Ans11

In [36]:
ipl_player_df['New col'] =ipl_player_df['Player_Id']*2
ipl_player_df.head()

   Player_Id      Player_Name        DOB  ... Is_Umpire Unnamed: 7 New col
0          1       SC Ganguly   8-Jul-72  ...         0        NaN       2
1          2      BB McCullum  27-Sep-81  ...         0        NaN       4
2          3       RT Ponting  19-Dec-74  ...         0        NaN       6
3          4        DJ Hussey  15-Jul-77  ...         0        NaN       8
4          5  Mohammad Hafeez  17-Oct-80  ...         0        NaN      10

[5 rows x 9 columns]

Ans12

In [26]:
import numpy as np

In [27]:
grouped = ipl_player_df.groupby('Batting_Hand')
grouped.aggregate(np.sum)

              Player_Id  Is_Umpire  Unnamed: 7  New col
Batting_Hand
Left_Hand         29183          0         0.0    58366
Right_Hand        82079          0         0.0   164158

Ans13

In [35]:
ipl_player_df.rename(columns={'Batting_Hand': 'NEW_NAME'}, inplace=True)

   Player_Id      Player_Name        DOB  ... Is_Umpire Unnamed: 7 New col
0          1       SC Ganguly   8-Jul-72  ...         0        NaN       2
1          2      BB McCullum  27-Sep-81  ...         0        NaN       4
2          3       RT Ponting  19-Dec-74  ...         0        NaN       6
3          4        DJ Hussey  15-Jul-77  ...         0        NaN       8
4          5  Mohammad Hafeez  17-Oct-80  ...         0        NaN      10

[5 rows x 9 columns]

Ans14

In [39]:
df = ipl_player_df[(ipl_player_df.Player_Id.isin(["10","1","2"]))]
print(df)

   Player_Id  Player_Name        DOB  ... Is_Umpire Unnamed: 7 New col
0          1   SC Ganguly   8-Jul-72  ...         0        NaN       2
1          2  BB McCullum  27-Sep-81  ...         0        NaN       4
9         10     CL White  18-Aug-83  ...         0        NaN      20

[3 rows x 9 columns]

Ans15

In [41]:
df.drop(columns=['DOB'])

   Player_Id  Player_Name    NEW_NAME  ... Is_Umpire Unnamed: 7  New col
0          1   SC Ganguly   Left_Hand  ...         0        NaN        2
1          2  BB McCullum  Right_Hand  ...         0        NaN        4
9         10     CL White  Right_Hand  ...         0        NaN       20

[3 rows x 8 columns]