<a href="https://colab.research.google.com/github/171473/Advanced-Software-System-Lab/blob/master/Assignment%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Answer 1

In [ ]:

def compound_interest(principle, rate, time): 


	Amount = principle * (pow((1 + rate / 100), time)) 
	CI = Amount - principle 
	print("Compound interest is", CI) 

compound_interest(10000, 10.25, 5)

Compound interest is 6288.946267774416

Answer 2

In [ ]:
first_name = input("Enter your first name : ") 
last_name  = input(" Enter your last name : ") 
print ( " LAST and FIRST name : " +  last_name  +  " "  + first_name )

Enter your first name : Bhavye
 Enter your last name : Sharma
 LAST and FIRST name : Sharma Bhavye

Answer 3

In [ ]:
name = input("Enter your name: ") 
counter = 0 
for s in name: 
   counter = counter+1 
   print("Length of the input string is:", counter)

Enter your name: Bhavye
Length of the input string is: 1
Length of the input string is: 2
Length of the input string is: 3
Length of the input string is: 4
Length of the input string is: 5
Length of the input string is: 6

Answer 4

In [ ]:
team_list = ['csk', 'mi', 'rcb', 'kxp', 'srh', 'rr', 'dd', 'kkr'] 
team_list.remove('mi') 
team_list.remove ('kxp') 
team_list.remove('rcb') 
team_list.remove ('dd') 
print ("List : ", team_list)

List :  ['csk', 'srh', 'rr', 'kkr']

Answer 5

In [ ]:
num = int(input("Enter a number: ")) 
if (num % 2) == 0:
 print("{0} is Even" .format(num))
else:
 print("{0} is Odd". format(num))

Enter a number: 110
110 is Even

Answer 6

In [ ]:
list1 = [34, 87, 892, 920, 974, 893] 
print ("Max value element : ", max(list1) ) 
print ("Min value element : ", min(list1) )

Max value element :  974
Min value element :  34

ANswer 7

In [ ]:
list1 = [9,56,826,784] 
print ( list1 )
my_new_list = [i * 5 for i in list1]  
print ( my_new_list )

[9, 56, 826, 784]
[45, 280, 4130, 3920]

Answer 8

In [ ]:
n=int(input("Enter the number to print the tables for:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter the number to print the tables for:4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

ANswer 9

In [ ]:
def Reverse(lst): 
	return [ee for ee in reversed(lst)] 
	

lst = [10, 11, 12, 13, 14, 15] 
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

Answer 10

In [ ]:
list1 = [10, 20, 4, 45, 99] 
  
  

print("Largest element is:", max(list1))

Largest element is: 99

Answer 11

In [ ]:
height = float(input("Input your height in meters: "))

weight = float(input("Input your weight in kilogram: "))

 

print("Your body mass index is: ", round(weight / (height * height), 2) )

 

if  round(weight / (height * height), 2)<18.5:

  print("Underweight")

elif round(weight / (height * height), 2)<24.5 and round(weight / (height * height), 2)>18.5:

  print("Normal")

elif round(weight / (height * height), 2)<29.9and round(weight / (height * height), 2)>25:

  print("Overweight")

elif  round(weight / (height * height), 2)>30 :

   print("Obese")

Input your height in meters: 1.83
Input your weight in kilogram: 71
Your body mass index is:  21.2
Normal