<a href="https://colab.research.google.com/github/171473/Advanced-Software-System-Lab/blob/master/Assignment_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

from google.colab import files
uploaded = files.upload()

Saving Salary.csv to Salary.csv

In [2]:
np.set_printoptions(precision = 4, linewidth = 100)
mba_salary_df = pd.read_csv('Salary.csv')
mba_salary_df.head(10)

   S.No.  \tPercentage in Grade 10  \tSalary
0      1                     62.00    270000
1      2                     76.33    200000
2      3                     72.00    240000
3      4                     60.00    250000
4      5                     61.00    180000
5      6                     55.00    300000
6      7                     70.00    260000
7      8                     68.00    235000
8      9                     82.80    425000
9     10                     59.00    240000

In [3]:
mba_salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   S.No.                    50 non-null     int64
 1   	Percentage in Grade 10  50 non-null     float64
 2   	Salary                  50 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 1.3 KB

In [5]:
import statsmodels.api as sm
X = sm.add_constant(mba_salary_df['\tPercentage in Grade 10'])
X.head(5)

   const  \tPercentage in Grade 10
0    1.0                     62.00
1    1.0                     76.33
2    1.0                     72.00
3    1.0                     60.00
4    1.0                     61.00

In [6]:
Y = mba_salary_df['\tSalary']
Y.head(5)

0    270000
1    200000
2    240000
3    250000
4    180000
Name: \tSalary, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, Y, train_size = 0.8, random_state =100)
mba_salary_lm = sm.OLS(train_y, train_X).fit()
print(mba_salary_lm.params)

const                       75749.144111
\tPercentage in Grade 10     2950.039457
dtype: float64

In [8]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split


from google.colab import files
uploaded = files.upload()
mba_salary_df = pd.read_csv('Salary.csv')

X = sm.add_constant(mba_salary_df['\tPercentage in Grade 10'])


train_X, test_X, train_y, test_y = train_test_split(X, Y, train_size = 0.8, random_state =100)


mba_salary_lm = sm.OLS(train_y, train_X).fit()

print(mba_salary_lm.params)

Saving Salary.csv to Salary (1).csv
const                       75749.144111
\tPercentage in Grade 10     2950.039457
dtype: float64

In [9]:
mba_salary_lm.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                          Results: Ordinary least squares
===================================================================================
Model:                    OLS                   Adj. R-squared:          0.146
Dependent Variable:       Salary                AIC:                     1007.3183
Date:                     2020-11-22 14:10      BIC:                     1010.6961
No. Observations:         40                    Log-Likelihood:          -501.66
Df Model:                 1                     F-statistic:             7.685
Df Residuals:             38                    Prob (F-statistic):      0.00858
R-squared:                0.168                 Scale:                   4.8216e+09
-----------------------------------------------------------------------------------
                          Coef.     Std.Err.    t    P>|t|     [0.025      0.975]
-----------------------------------------------------------------------------------
const                   75749.1441 69136.3531 1.0956 0.2801 -64210.0857 215708.3739
	Percentage in Grade 10  2950.0395  1064.1613 2.7722 0.0086    795.7576   5104.3213
-----------------------------------------------------------------------------------
Omnibus:                    1.059              Durbin-Watson:                 2.369
Prob(Omnibus):              0.589              Jarque-Bera (JB):              1.090
Skew:                       0.326              Prob(JB):                      0.580
Kurtosis:                   2.522              Condition No.:                 409
===================================================================================

"""

In [10]:
pred_y = mba_salary_lm.predict( test_X )
pred_y

6     282251.906078
36    229151.195858
37    299952.142818
28    252751.511511
43    276351.827165
49    255111.543077
5     238001.314228
33    276351.827165
20    261601.629881
42    245612.416026
dtype: float64

In [11]:
from sklearn.metrics import r2_score, mean_squared_error
np.abs(r2_score(test_y, pred_y) )

0.14712824474841346

In [12]:
import numpy
np.sqrt(mean_squared_error(test_y, pred_y) )

75731.83815053532