<a href="https://colab.research.google.com/github/171473/Advanced-Software-System-Lab/blob/master/BHAVYE_SHARMA_171473_Python_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("First Python Program")

First Python Program

Exercise 1: WAP to add three numbers and print result. Also use Comments in the code. 

Exercise 2: WAP to display your name & roll number in python.

ANS1.

In [ ]:
def sum_thrice(x, y, z):

     sum = x + y + z
  
     if x == y == z:
      sum = sum * 3
     return sum

print(sum_thrice(1, 3, 3))
print(sum_thrice(3, 2, 1))

7
6

ANS2.

In [ ]:
def details():
    name, roll = "Bhavye Sharma", 171473
   
    print("Name: {}\nRollno:  {}".format(name, roll ))

details()

Name: Bhavye Sharma
Rollno:  171473

Exercise 3: WAP to add three numbers, inputs from user and print result Try: In above program, give number in place of string and try to get the difference between input() and raw_input() function.

Exercise 4: WAP to concatenate your first & last name. Take inputs from keyboard and then print

ANS 3.

In [ ]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
c = a + b		# concatinate two strings
print  (a, " + ", b, " --> ", c)

Enter First String: 3
Enter Second String: 4
3  +  4  -->  34

ANS3.

In [ ]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
c=int(input("Enter Third No: "))
d = a + b +c
print (a, " + ", b,  " + ", c," --> ", d)

Enter First No: 3
Enter Second No: 4
Enter Third No: 5
3  +  4  +  5  -->  12

ANS4.

In [1]:
a = input("Enter First Name: ")
b = input("Enter Last Name: ")
c = a + b		# concatinate two strings
print  (a, " + ", b, " --> ", c)

Enter First Name: Bhavye
Enter Last Name: Sharma
Bhavye   +  Sharma  -->  Bhavye Sharma

Exercise 5: WAP to declare three variables x,y and z and assign the values 33, 17.5 and "Python" in one single line & print data type of each variable.

ANS5.

In [ ]:
x=33
y=17.5
z="Python"
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'str'>

Exercise 6: WAP to convert an integer variable x=17 into complex number

ANS6.

In [ ]:
x=17
y=complex(x)
print(y)

(17+0j)